<h2>All Historical Figures</h2>

<% @figures.each do |fig| %>
  <span><h4>Name: <a href="/figures/<%= fig.id %>"><%= fig.name %></a></h4></span>
<% end %>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
